---
# Playbook: checkpoint_backup.yml
# Purpose:
#   - Back up Aruba CX running configuration
#   - Save configs by logical "state" (ospf, bgp, vxlan, etc.)
#   - Default state is "latest" if none is provided
#   - It will look for the ansible hostfile variable named 'lab_name' to use the correct directory
#
# Usage:
#   ansible-playbook checkpoint_backup.yml
#   ansible-playbook checkpoint_backup.yml -e state=ospf
#   ansible-playbook checkpoint_backup.yml -l cx1

- name: Backup running config into a named state
  hosts: clab_nodes
  gather_facts: no
  collections:
    - arubanetworks.aoscx
  vars:
    state_name: "{{ state | default('latest') }}"

  tasks:
    - name: Ensure state directory exists
      file:
        path: "/ansible/documentation/states/clab/{{ lab_name | default('common') }}/{{ state_name }}"
        state: directory
        mode: '0755'

    - name: Copy Running Config to local as JSON # only works with JSON output
      aoscx_backup_config:
        config_name: running-config-json
        output_file: /ansible/documentation/states/clab/{{ lab_name | default('common') }}/{{ state_name }}/{{ inventory_hostname }}.json
